In [47]:
# Dependencies
import numpy as np
import datetime as dt
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [48]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [49]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [50]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 

temps = []

temps = session.query(Measurement.date, Measurement.tobs).all()

In [51]:
#  3. Convert the June temperatures to a list.
temps_df = pd.DataFrame(temps, columns=['date','temp'])

temps_df['date'] = pd.to_datetime(temps_df['date'])

temps_df['month'] = temps_df['date'].dt.month

temps_df.head()

        date  temp  month
0 2010-01-01  65.0      1
1 2010-01-02  63.0      1
2 2010-01-03  74.0      1
3 2010-01-04  76.0      1
4 2010-01-06  73.0      1

In [52]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
temps_june_df = temps_df[temps_df['month'] == 6]

In [53]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
temps_june_df.describe()

              temp   month
count  1700.000000  1700.0
mean     74.944118     6.0
std       3.257417     0.0
min      64.000000     6.0
25%      73.000000     6.0
50%      75.000000     6.0
75%      77.000000     6.0
max      85.000000     6.0

## D2: Determine the Summary Statistics for December

In [54]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
temps = []

temps = session.query(Measurement.date, Measurement.tobs).all()

In [55]:
# 7. Convert the December temperatures to a list.
temps_df = pd.DataFrame(temps, columns=['date','temp'])

temps_df['date'] = pd.to_datetime(temps_df['date'])

temps_df['month'] = temps_df['date'].dt.month

In [56]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
temps_dec_df = temps_df[temps_df['month'] == 12]

In [57]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
temps_dec_df.describe()

              temp   month
count  1517.000000  1517.0
mean     71.041529    12.0
std       3.745920     0.0
min      56.000000    12.0
25%      69.000000    12.0
50%      71.000000    12.0
75%      74.000000    12.0
max      83.000000    12.0